/***********************************/
/***********************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

header {
  background-image: url("../Images/Profile-bg-image.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
}
header .hero-text-box {
  max-width: 10rem;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  border-radius: 1rem;
  position: absolute;
  max-width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .hero-text-box h1 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  color: #fff;
  font-size: 200%;
  word-spacing: 4px;
}
header .hero-text-box h2 {
  font-size: 150%;
  word-spacing: 2px;
  font-weight: 200;
  margin: 0;
  color: #fff;
  font-size: 160%;
  word-spacing: 4px;
}
header .hero-text-box p {
  font-family: "Questrial", sans-serif;
  font-size: 90%;
  line-height: 150%;
  color: #fff;
  word-spacing: 3px;
}
header .hero-text-box a {
  text-decoration: none;
  display: inline-block;
  word-spacing: 2px;
  font-weight: 300;
  margin: 0;
  color: #fff;
  font-size: 100%;
  word-spacing: 2px;
}