/***********************************/
      //Style Variables//
/***********************************/
$fontFamily: "Lato", "Arial", sans-serif;
$fontWeight: 300;
$fontSize: 20px;
$fontColor: #555;
$backGroundColor: #fff;
$textRendering: optimizeLegibility;
////////////////
// Basic setup
///////////////////

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    background-color: $backGroundColor;
    color: $fontColor;
    font-family: $fontFamily;
    font-weight: $fontWeight;
    font-size: $fontSize;
    text-rendering: $textRendering;
    overflow-x: hidden;
    }
    
 // End basic Setup //   

header {
  background-image: url("../Images/Profile-bg-image.jpg"); //set as viewport
  background-size: cover;
  background-attachment: fixed; // very clever feature :)
  background-position: center;
  height: 100vh;
    .hero-text-box {
      background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
      padding: 5rem;
      border-radius: 1rem;
        position: absolute;
        max-width: 1140px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h1 {
          font-weight: 300;
          text-transform: uppercase;
          letter-spacing: 1px;
          margin: 0; // to remove unwanted margins.
          color: #fff;
          font-size: 190%; //which is 40px (200% of 20px)
          word-spacing: 4px;
          margin-bottom: 20px;
        }
        h2 {
          font-size: 180%;
          word-spacing: 2px;
          text-align: center;
          margin-bottom: 30px;
          margin: 0; // to remove unwanted margins.
          color: #fff;
          font-size: 190%; //which is 40px (200% of 20px)
          word-spacing: 4px;
          margin-bottom: 20px;
        }
        p{
          font-size: 90%;
          line-height: 145%;
          text-align: justify;
          text-justify: inter-word;
          word-spacing: -1px;
      }
    
       a{
        text-decoration: none;
        display: inline-block;
       }
    }
  }